body {
  background-color: #ffffff;
  font-family: "Tahoma";
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#banner { 
   position: absolute; 
   top: 0; 
   left: 0; 
   background-color: #84c2eb; 
   width: 100%; 
 }
#banner-content { 
   width: 800px; 
   margin: 0 auto; 
   padding: 10px; 
 }
#main-content { 
   padding-top: 70px;
   padding-bottom: 70px;
}

#name {
	margin-top: 20px;
	font-size: 50px;
	text-align: center;
	font-weight: bolder;
}
#title {
	margin-top: 20px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
.info {
	margin-top: 50px;
	font-size: 18px;
}
